#header {
    background-color: $secondary;
    color: #ffff;
}

.head {
    p {
        padding: 5px 0;
        margin-right: 20px;
    }
}

.nav {
    .menu {
        flex-direction: row;

        li {
            list-style: none;
            padding: 0 20px;

            a {
                color: black;
                text-decoration: none;
                &:hover{
                    font-weight: bold;
                    border-bottom: 1px solid $primary;
                }
            }
        }
    }
}

.img-hero {
    width: 580px;
    height: 555px;
}
.big-title{
    font-size: 3.6em;
    font-weight: 600;
  }