.container {
  max-width: 1200;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.ai-center {
  align-items: center;
}

.jc-sb {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.col1 {
  width: 5.3333333333%;
  margin: 1.5%;
}

.col2 {
  width: 13.6666666667%;
  margin: 1.5%;
}

.col3 {
  width: 22%;
  margin: 1.5%;
}

.col4 {
  width: 30.3333333333%;
  margin: 1.5%;
}

.col5 {
  width: 38.6666666667%;
  margin: 1.5%;
}

.col6 {
  width: 47%;
  margin: 1.5%;
}

.col7 {
  width: 55.3333333333%;
  margin: 1.5%;
}

.col8 {
  width: 63.6666666667%;
  margin: 1.5%;
}

.col9 {
  width: 72%;
  margin: 1.5%;
}

.col10 {
  width: 80.3333333333%;
  margin: 1.5%;
}

.col11 {
  width: 88.6666666667%;
  margin: 1.5%;
}

.col12 {
  width: 97%;
  margin: 1.5%;
}

@media screen and (max-width: 920px) {
  .col1-tablet {
    width: 5.3333333333%;
    margin: 1.5%;
  }
  .col2-tablet {
    width: 13.6666666667%;
    margin: 1.5%;
  }
  .col3-tablet {
    width: 22%;
    margin: 1.5%;
  }
  .col4-tablet {
    width: 30.3333333333%;
    margin: 1.5%;
  }
  .col5-tablet {
    width: 38.6666666667%;
    margin: 1.5%;
  }
  .col6-tablet {
    width: 47%;
    margin: 1.5%;
  }
  .col7-tablet {
    width: 55.3333333333%;
    margin: 1.5%;
  }
  .col8-tablet {
    width: 63.6666666667%;
    margin: 1.5%;
  }
  .col9-tablet {
    width: 72%;
    margin: 1.5%;
  }
  .col10-tablet {
    width: 80.3333333333%;
    margin: 1.5%;
  }
  .col11-tablet {
    width: 88.6666666667%;
    margin: 1.5%;
  }
  .col12-tablet {
    width: 97%;
    margin: 1.5%;
  }
}
@media screen and (max-width: 520px) {
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
  .col3 {
    width: 100%;
  }
  .col4 {
    width: 100%;
  }
  .col5 {
    width: 100%;
  }
  .col6 {
    width: 100%;
  }
  .col7 {
    width: 100%;
  }
  .col8 {
    width: 100%;
  }
  .col9 {
    width: 100%;
  }
  .col10 {
    width: 100%;
  }
  .col11 {
    width: 100%;
  }
  .col12 {
    width: 100%;
  }
  .col1-mobile {
    width: 5.3333333333%;
    margin: 1.5%;
  }
  .col2-mobile {
    width: 13.6666666667%;
    margin: 1.5%;
  }
  .col3-mobile {
    width: 22%;
    margin: 1.5%;
  }
  .col4-mobile {
    width: 30.3333333333%;
    margin: 1.5%;
  }
  .col5-mobile {
    width: 38.6666666667%;
    margin: 1.5%;
  }
  .col6-mobile {
    width: 47%;
    margin: 1.5%;
  }
  .col7-mobile {
    width: 55.3333333333%;
    margin: 1.5%;
  }
  .col8-mobile {
    width: 63.6666666667%;
    margin: 1.5%;
  }
  .col9-mobile {
    width: 72%;
    margin: 1.5%;
  }
  .col10-mobile {
    width: 80.3333333333%;
    margin: 1.5%;
  }
  .col11-mobile {
    width: 88.6666666667%;
    margin: 1.5%;
  }
  .col12-mobile {
    width: 97%;
    margin: 1.5%;
  }
}
p {
  font-size: 16px;
  line-height: 180%;
}

@media screen and (max-width: 350px) {
  h5 {
    font-size: 16px;
    line-height: 180%;
  }
  h4 {
    font-size: 21.12px;
    line-height: 180%;
  }
  h3 {
    font-size: 25.344px;
    line-height: 180%;
  }
  h2 {
    font-size: 30.415px;
    line-height: 120%;
  }
  h1 {
    font-size: 36.498px;
    line-height: 120%;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.spacer-px5 {
  margin-top: 5px;
}

.spacer-px10 {
  margin-top: 10px;
}

.spacer-px15 {
  margin-top: 15px;
}

.spacer-px20 {
  margin-top: 20px;
}

.spacer-px25 {
  margin-top: 25px;
}

.spacer-px30 {
  margin-top: 30px;
}

.spacer-px35 {
  margin-top: 35px;
}

.spacer-px40 {
  margin-top: 40px;
}

.spacer-px45 {
  margin-top: 45px;
}

.spacer-px50 {
  margin-top: 50px;
}

.spacer-px55 {
  margin-top: 55px;
}

.spacer-px60 {
  margin-top: 60px;
}

.spacer-px65 {
  margin-top: 65px;
}

.spacer-px70 {
  margin-top: 70px;
}

.spacer-px75 {
  margin-top: 75px;
}

.spacer-px80 {
  margin-top: 80px;
}

.spacer-px85 {
  margin-top: 85px;
}

.spacer-px90 {
  margin-top: 90px;
}

.spacer-px95 {
  margin-top: 95px;
}

.spacer-px100 {
  margin-top: 100px;
}

.spacer-px105 {
  margin-top: 105px;
}

.spacer-px110 {
  margin-top: 110px;
}

.spacer-px115 {
  margin-top: 115px;
}

.spacer-px120 {
  margin-top: 120px;
}

.spacer-px125 {
  margin-top: 125px;
}

.spacer-px130 {
  margin-top: 130px;
}

.spacer-px135 {
  margin-top: 135px;
}

.spacer-px140 {
  margin-top: 140px;
}

.spacer-px145 {
  margin-top: 145px;
}

.spacer-px150 {
  margin-top: 150px;
}

.spacer-persen10 {
  margin-top: 10%;
}

.spacer-persen20 {
  margin-top: 20%;
}

.spacer-persen30 {
  margin-top: 30%;
}

.spacer-persen40 {
  margin-top: 40%;
}

.spacer-persen50 {
  margin-top: 50%;
}

.spacer-persen60 {
  margin-top: 60%;
}

.spacer-persen70 {
  margin-top: 70%;
}

.spacer-persen80 {
  margin-top: 80%;
}

.spacer-persen90 {
  margin-top: 90%;
}

.spacer-persen100 {
  margin-top: 100%;
}

.spacerFirst {
  padding: 5% 0;
}

.spacerSection {
  padding: 0 0 5%;
}

.img-responsive {
  width: 100%;
}

.icon32 {
  width: 32px;
}

.icon64 {
  width: 64px;
}

.icon128 {
  width: 128px;
}

#header {
  background-color: #48BB78;
  color: white;
}

.head p {
  padding: 5px 0;
  margin-right: 20px;
}

.nav .menu {
  flex-direction: row;
}
.nav .menu li {
  list-style: none;
  padding: 0 20px;
}
.nav .menu li a {
  color: black;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */